body {
    background-color: aqua;
    font-family: 'Times New Roman', Times, sans-serif;
    display: flex;
    flex-wrap: wrap;
}
h1 {
    color:black;
    text-align:center;
    width: 100%;
}
h1:hover {
    color:brown;
    text-align: center;
    width: 100%;
}
a {
    text-decoration: none;
    color: black;
}

.assign {
    margin: 10px;
    padding: 10px;
    background-color: grey;
    border-radius: 20px;
    display: block;
    width: 20%;
    box-shadow: 8px 8px black;
}
.assign img {
    width: 200px;
    margin: 10px;
    border: 2px solid blueviolet;
}
.assign img:hover {
    width: 200px;
    margin: 10px;
    border: 2px dotted maroon;
}